 <div class="col-xl-3 col-wd-auto d-none d-xl-block">
                        <div class="max-width-270 min-width-270 pt-xl-13 mt-xl-13">
                            <!-- Image Banner -->
                            <aside class="mb-8">
                                <a href="" class="d-block">
                                    <img class="img-fluid" src="/static/img/270X428/img1.png" alt="Image Description">
                                </a>
                            </aside>
                            <!-- End Image Banner -->

                            

                            <!-- Latest Products -->
                            <aside class="mb-4">
                                <div class="mb-2 position-relative">
                                    <div class="d-flex justify-content-between border-bottom border-color-1 flex-md-nowrap flex-wrap border-sm-bottom-0">
                                    <h3 class="section-title section-title__sm mb-0 pb-3 font-size-18">Derniers Produits</h3>
                                    </div>

                                    <!-- Slick container -->
                                    <div id="latest-products"
                                        class="js-slick-carousel u-slick u-slick--gutters-2 overflow-hidden u-slick-overflow-visble pt-3 position-static"
                                        data-slides-show="1"
                                        data-slides-scroll="1"
                                        data-arrows-classes="position-absolute top-0 font-size-17 u-slick__arrow-normal top-10"
                                        data-arrow-left-classes="fa fa-angle-left right-1"
                                        data-arrow-right-classes="fa fa-angle-right right-0">
                                    <!-- Les slides seront injectés par JS -->
                                    </div>
                                </div>
                            </aside>
                            <!-- End Latest Products -->
                            <!-- Feature List -->
                            <aside class="mb-8">
                                <div class="d-flex justify-content-center rounded border mb-4">
                                    <div class="px-4 py-6 w-100">
                                        <!-- Feature List -->
                                        <div class="media px-3 mb-4 pb-4 border-bottom" href="#">
                                            <div class="u-avatar mr-2">
                                                <i class="text-primary ec ec-transport font-size-46"></i>
                                            </div>
                                            <div class="media-body text-center">
                                                <span class="d-block font-weight-bold text-dark">Livraison Gratuite</span>
                                                <div class=" text-secondary">à partir de <span class="js-price" data-fcfa="30000">30000 FCFA</span></div>
                                            </div>
                                        </div>
                                        <!-- End Feature List -->

                                        <!-- Feature List -->
                                        <div class="media px-3 mb-4 pb-4 border-bottom" href="#">
                                            <div class="u-avatar mr-2">
                                                <i class="text-primary ec ec-customers font-size-56"></i>
                                            </div>
                                            <div class="media-body text-center">
                                                <span class="d-block font-weight-bold text-dark">99 % Clients</span>
                                                <div class=" text-secondary">Commentaires</div>
                                            </div>
                                        </div>
                                        <!-- End Feature List -->

                                        <!-- Feature List -->
                                        <div class="media px-3 mb-4 pb-4 border-bottom" href="#">
                                            <div class="u-avatar mr-2">
                                                <i class="text-primary ec ec-returning font-size-46"></i>
                                            </div>
                                            <div class="media-body text-center">
                                                <span class="d-block font-weight-bold text-dark">365 Days</span>
                                                <div class=" text-secondary">Garantit sur 80% de nos produits</div>
                                            </div>
                                        </div>
                                        <!-- End Feature List -->

                                        <!-- Feature List -->
                                        <div class="media px-3 mb-4 pb-4 border-bottom" href="#">
                                            <div class="u-avatar mr-2">
                                                <i class="text-primary ec ec-payment font-size-46"></i>
                                            </div>
                                            <div class="media-body text-center">
                                                <span class="d-block font-weight-bold text-dark">Paiement</span>
                                                <div class=" text-secondary">Système de Paiement Sécurisé</div>
                                            </div>
                                        </div>
                                        <!-- End Feature List -->

                                        <!-- Feature List -->
                                        <div class="media px-3" href="#">
                                            <div class="u-avatar mr-2">
                                                <i class="text-primary ec ec-tag font-size-46"></i>
                                            </div>
                                            <div class="media-body text-center">
                                                <span class="d-block font-weight-bold text-dark">Seul les meilleures</span>
                                                <div class=" text-secondary">Marques</div>
                                            </div>
                                        </div>
                                        <!-- End Feature List -->
                                    </div>
                                </div>
                            </aside>
                            <!-- End Feature List -->
                            <!-- Feature Product -->

                            <aside class="mb-8">
                                <!-- Featured Products -->
                                <div class="position-relative">
                                    <div class="border-bottom border-color-1 mb-2">
                                    <h3 class="section-title mb-0 pb-3 font-size-18">Produits Vedettes</h3>
                                    </div>

                                    <div id="featured-products"
                                        class="js-slick-carousel u-slick position-static overflow-hidden u-slick-overflow-visble"
                                        data-slides-show="1"
                                        data-slides-scroll="1"
                                        data-arrows-classes="position-absolute top-0 font-size-17 u-slick__arrow-normal top-10"
                                        data-arrow-left-classes="fa fa-angle-left right-1"
                                        data-arrow-right-classes="fa fa-angle-right right-0">
                                    <!-- Slides injectés par JS -->
                                    </div>
                                </div>
                            </aside>
                            
                            
                            <!-- End Feature Product -->
                            <!-- From the Blog -->
                            <aside class="mb-8">
                                <div class="position-relative">
                                    <div class="border-bottom border-color-1 mb-4">
                                    <h3 class="section-title mb-0 pb-3 font-size-18">Derniers Articles</h3>
                                    </div>

                                    <div id="latest-blogs"
                                        class="js-slick-carousel u-slick position-static overflow-hidden u-slick-overflow-visble"
                                        data-slides-show="1"
                                        data-slides-scroll="1"
                                        data-arrows-classes="position-absolute top-0 font-size-17 u-slick__arrow-normal top-10"
                                        data-arrow-left-classes="fa fa-angle-left right-1"
                                        data-arrow-right-classes="fa fa-angle-right right-0">
                                    <!-- Slides injectés par JS -->
                                    </div>
                                </div>
                            </aside>
                            <!-- End From the Blog -->
                            <aside class="mb-8">
                                <a href="" class="d-block">
                                    <img class="img-fluid" src="/static/img/270X700/img1.png" alt="Image Description">
                                </a>
                            </aside>
                            <aside class="mb-8 position-relative">
                                <a href="#" class="d-block position-relative">
                                
                                    <video autoplay muted loop playsinline class="img-fluid w-100" style="object-fit: cover;">
                                    <source src="/static/img/video/tradecare.mp4" type="video/mp4">
                                    Votre navigateur ne supporte pas la vidéo.
                                    </video>

                                    <!-- Texte overlay -->
                                    <div class="position-absolute top-0 left-0 w-100 h-100 d-flex flex-column justify-content-center align-items-center text-white text-center px-3">
                                    
                                    </div>
                                </a>
                                <h2 class="font-weight-bold mb-2">Découvrez nos logiciels de gestions </h2>
                                    <p class=" font-size-14 mb-0">Multiplateforme Disponible pour vous!</p>
                            </aside>
                        </div>
                    </div>