<div class="container my-0dot5 my-xl-0">
                        <div class="row align-items-center">
                            <!-- Logo-offcanvas-menu -->
                            <div class="col-auto">
                                <!-- Nav -->
                                <nav class="navbar navbar-expand u-header__navbar py-0 justify-content-xl-between max-width-270 min-width-270">
                                    <!-- Logo -->
                                    <a class="order-1 order-xl-0 navbar-brand u-header__navbar-brand u-header__navbar-brand-center" href="/" aria-label="Electro">
                                        <img src="/static/img/logo/LOGO-NT.png" alt="Logo New Technologies" style="width: 150px; margin-bottom: 0;">
                                    </a>
                                    <!-- End Logo -->

                                    <!-- Fullscreen Toggle Button -->
                                    <button id="sidebarHeaderInvokerMenu" type="button" class="navbar-toggler d-block btn u-hamburger mr-3 mr-xl-0"
                                        aria-controls="sidebarHeader"
                                        aria-haspopup="true"
                                        aria-expanded="false"
                                        data-unfold-event="click"
                                        data-unfold-hide-on-scroll="false"
                                        data-unfold-target="#sidebarHeader1"
                                        data-unfold-type="css-animation"
                                        data-unfold-animation-in="fadeInLeft"
                                        data-unfold-animation-out="fadeOutLeft"
                                        data-unfold-duration="500">
                                        <span id="hamburgerTriggerMenu" class="u-hamburger__box">
                                            <span class="u-hamburger__inner"></span>
                                        </span>
                                    </button>
                                    <!-- End Fullscreen Toggle Button -->
                                </nav>
                                <!-- End Nav -->

                                <!-- ========== HEADER SIDEBAR ========== -->
                                <aside id="sidebarHeader1" class="u-sidebar u-sidebar--left" aria-labelledby="sidebarHeaderInvokerMenu">
                                    <div class="u-sidebar__scroller">
                                        <div class="u-sidebar__container">
                                            <div class="u-header-sidebar__footer-offset pb-0">
                                                <!-- Toggle Button -->
                                                <div class="position-absolute top-0 right-0 z-index-2 pt-4 pr-7">
                                                    <button type="button" class="close ml-auto"
                                                        aria-controls="sidebarHeader"
                                                        aria-haspopup="true"
                                                        aria-expanded="false"
                                                        data-unfold-event="click"
                                                        data-unfold-hide-on-scroll="false"
                                                        data-unfold-target="#sidebarHeader1"
                                                        data-unfold-type="css-animation"
                                                        data-unfold-animation-in="fadeInLeft"
                                                        data-unfold-animation-out="fadeOutLeft"
                                                        data-unfold-duration="500">
                                                        <span aria-hidden="true"><i class="ec ec-close-remove text-gray-90 font-size-20"></i></span>
                                                    </button>
                                                </div>
                                                <!-- End Toggle Button -->

                                                <!-- Content -->
                                                <div class="js-scrollbar u-sidebar__body">
                                                    <div id="headerSidebarContent" class="u-sidebar__content u-header-sidebar__content">
                                                        <!-- Logo -->
                                                        <img class="d-block mx-auto mb-4" src="/static/img/logo/LOGO-BURGER.png" alt="Logo New Technologies" style="width: 150px; margin-bottom: 0;">
                                                        <!-- End Logo -->

                                                        <!-- List -->
                                                        <ul id="headerSidebarList" class="u-header-collapse__nav">
                                                            <!-- Home Section -->
                                                            <li class="u-has-submenu u-header-collapse__submenu">
                                                                <a class="u-header-collapse__nav-link u-header-collapse__nav-pointer" href="javascript:;" role="button" data-toggle="collapse" aria-expanded="false" aria-controls="headerSidebarHomeCollapse" data-target="#headerSidebarHomeCollapse">
                                                                    Accueil
                                                                </a>

                                                                <div id="headerSidebarHomeCollapse" class="collapse" data-parent="#headerSidebarContent">
                                                                    <ul id="headerSidebarHomeMenu" class="u-header-collapse__nav-list">
                                                                        <!-- Home  -->
                                                                        <li><a class="u-header-collapse__submenu-nav-link" href="/">Home</a></li>
                                                                        <!-- End Home  -->
                                                                        
                                                                        
                                                                        <!-- About -->
                                                                        <li><a class="u-header-collapse__submenu-nav-link" href="/about">About</a></li>
                                                                        <!-- End About -->
                                                                        <!-- Contact -->
                                                                        <li><a class="u-header-collapse__submenu-nav-link" href="/contact">Contact</a></li>
                                                                        <!-- End Contact  -->
                                                                        
                                                                        <!-- FAQ -->
                                                                        <li><a class="u-header-collapse__submenu-nav-link" href="/faq">FAQ</a></li>
                                                                        <!-- End FAQ -->
                                                                        <!-- Store Directory -->
                                                                        
                                                                        <!-- End Store Directory -->
                                                                        <!-- Terms and Conditions -->
                                                                        <li><a class="u-header-collapse__submenu-nav-link" href="/terms-and-conditions">Terms and Conditions</a></li>
                                                                        <!-- End Terms and Conditions -->
                                                                        <!-- 404 -->
                                                                        <li><a class="u-header-collapse__submenu-nav-link" href="/blog">BLog</a></li>
                                                                        <!-- End 404 -->
                                                                    </ul>
                                                                </div>
                                                            </li>
                                                            <!-- End Home Section -->

                                                            <!-- Shop Pages -->
                                                            <li class="u-has-submenu u-header-collapse__submenu">
                                                                <a class="u-header-collapse__nav-link u-header-collapse__nav-pointer" href="javascript:;" data-target="#headerSidebarPagesCollapse" role="button" data-toggle="collapse" aria-expanded="false" aria-controls="headerSidebarPagesCollapse">
                                                                    pages
                                                                </a>

                                                                <div id="headerSidebarPagesCollapse" class="collapse" data-parent="#headerSidebarContent">
                                                                    <ul id="headerSidebarPagesMenu" class="u-header-collapse__nav-list">
                                                                        <!-- Shop -->
                                                                        <li><a class="u-header-collapse__submenu-nav-link" href="/shop">Shop </a></li>
                                                                        <!-- End Shop -->
                                                                        <!-- Shop -->
                                                                        <li><a class="u-header-collapse__submenu-nav-link" href="/category"> Produit par Categories </a></li>
                                                                        <!-- End Shop -->
                                                                        <li><a class="u-header-collapse__submenu-nav-link" href="/category-slug?slug=laptop,desktop">Ordinateur Portable & Bureautique</a></li>
                                                                        <li><a class="u-header-collapse__submenu-nav-link" href="/category-slug?slug=camera">Cameras de surveillance & Caméras Espion</a></li>
                                                                        <li><a class="u-header-collapse__submenu-nav-link" href="/category-slug?slug=smartphones,smartphones-ref,tablettes">SmartPhones & Tablettes</a></li>
                                                                        <li><a class="u-header-collapse__submenu-nav-link" href="/category-slug?slug=consoles-accesoires,consoles,games,setup-gaming">Jeux vidéo & Consoles</a></li>
                                                                        <li><a class="u-header-collapse__submenu-nav-link" href="/category-slug?slug=smart-tv,speaker,audio">TV & Enceinte sonore</a></li>
                                                                        
                                                                    
                                                                        <li><a class="u-header-collapse__submenu-nav-link" href="/category-slug?slug=imprimante,toner-encre,toner,encre,jet-encre">Imprimantes, Toner et Encre</a></li>
                                                                        
                                                                        <li><a class="u-header-collapse__submenu-nav-link" href="/category-slug?slug=scanner">Scanner</a></li>

                                                                    </ul>
                                                                </div>
                                                            </li>
                                                            <!-- End Shop Pages -->

                                                            <!-- services Pages -->
                                                            <li class="u-has-submenu u-header-collapse__submenu">
                                                                <a class="u-header-collapse__nav-link u-header-collapse__nav-pointer" href="javascript:;" data-target="#headerSidebarPagesCollapse" role="button" data-toggle="collapse" aria-expanded="false" aria-controls="headerSidebarPagesCollapse">
                                                                    Nos Services
                                                                </a>

                                                                <div id="headerSidebarPagesCollapse" class="collapse" data-parent="#headerSidebarContent">
                                                                    <ul id="headerSidebarPagesMenu" class="u-header-collapse__nav-list">
                                                                        <!-- Shop -->
                                                                        <li><a class="u-header-collapse__submenu-nav-link" href="/category-slug"> Nos services </a></li>
                                                                        <!-- End Shop -->
                                                                        <!-- Shop -->
                                                                        <li><a class="u-header-collapse__submenu-nav-link" href="/category-slug"> Nos Logiciels </a></li>
                                                                        <!-- End Shop -->
                                                                    </ul>
                                                                </div>
                                                            </li>
                                                            <!-- End services Pages -->

                                                            

                                                            <!-- Ecommerce Pages -->
                                                            <li class="u-has-submenu u-header-collapse__submenu">
                                                                <a class="u-header-collapse__nav-link u-header-collapse__nav-pointer" href="javascript:;" data-target="#headerSidebarDemosCollapse" role="button" data-toggle="collapse" aria-expanded="false" aria-controls="headerSidebarDemosCollapse">
                                                                    Boutique Ecommerce
                                                                </a>

                                                                <div id="headerSidebarDemosCollapse" class="collapse" data-parent="#headerSidebarContent">
                                                                    <ul id="headerSidebarDemosMenu" class="u-header-collapse__nav-list">
                                                                        <!-- Shop -->
                                                                        <li><a class="u-header-collapse__submenu-nav-link" href="/shop">Shop</a></li>
                                                                        <!-- End Shop -->

                                                                        <!-- Cart -->
                                                                        <li><a class="u-header-collapse__submenu-nav-link" href="/cart">Cart</a></li>
                                                                        <!-- End Cart -->

                                                                        

                                                                        <!-- My Account -->
                                                                        <li><a class="u-header-collapse__submenu-nav-link" href="/my-account">My Account</a></li>
                                                                        <!-- End My Account -->

                                                                        

                                                                        <!-- Compare -->
                                                                        <!-- <li><a class="u-header-collapse__submenu-nav-link" href="/category-slug">Compare</a></li> -->
                                                                        <!-- End Compare -->

                                                                        <!-- wishlist -->
                                                                        <li><a class="u-header-collapse__submenu-nav-link" href="/wishlist">wishlist</a></li>
                                                                        <!-- End wishlist -->
                                                                    </ul>
                                                                </div>
                                                            </li>
                                                            <!-- End Ecommerce Pages -->

                                                            

                                                            <!-- Blog Pages -->
                                                            <li class="u-has-submenu u-header-collapse__submenu">
                                                                <a class="u-header-collapse__nav-link u-header-collapse__nav-pointer" href="javascript:;" data-target="#headerSidebarblogsCollapse" role="button" data-toggle="collapse" aria-expanded="false" aria-controls="headerSidebarblogsCollapse">
                                                                    Blog Pages
                                                                </a>

                                                                <div id="headerSidebarblogsCollapse" class="collapse" data-parent="#headerSidebarContent">
                                                                    <ul id="headerSidebarblogsMenu" class="u-header-collapse__nav-list">
                                                                        <!-- Blog v1 -->
                                                                        <li><a class="u-header-collapse__submenu-nav-link" href="/blog/blog-v1.html">Actualités Technologiques</a></li>
                                                                        <!-- End Blog v1 -->

                                                                        <!-- Blog v2 -->
                                                                        <li><a class="u-header-collapse__submenu-nav-link" href="/blog/blog-v2.html">Nouvelles Technologies</a></li>
                                                                        <!-- End Blog v2 -->

                                                                    
                                                                    </ul>
                                                                </div>
                                                            </li>
                                                            <!-- End Blog Pages -->
                                                        </ul>
                                                        <!-- End List -->
                                                    </div>
                                                </div>
                                                <!-- End Content -->
                                            </div>
                                        </div>
                                    </div>
                                </aside>
                                <!-- ========== END HEADER SIDEBAR ========== -->
                            </div>
                            <!-- End Logo-offcanvas-menu -->
                            <!-- Primary Menu -->
                            <div class="col d-none d-xl-block">
                                <!-- Nav -->
                                <nav class="js-mega-menu navbar navbar-expand-md u-header__navbar u-header__navbar--no-space">
                                    <!-- Navigation -->
                                    <div id="navBar" class="collapse navbar-collapse u-header__navbar-collapse">
                                        <ul class="navbar-nav u-header__navbar-nav">
                                            <!-- Home -->
                                            <li class="nav-item hs-has-sub-menu u-header__nav-item"
                                                data-event="hover"
                                                data-animation-in="slideInUp"
                                                data-animation-out="fadeOut">
                                                <a id="HomeMegaMenu" class="nav-link u-header__nav-link " href="/" aria-haspopup="true" aria-expanded="false" aria-labelledby="HomeSubMenu">Home</a>

                                            
                                            </li>
                                            <!-- End Home -->

                                            <!-- Pages -->
                                            <li class="nav-item hs-has-mega-menu u-header__nav-item"
                                                data-event="click"
                                                data-animation-in="slideInUp"
                                                data-animation-out="fadeOut">
                                                <a id="pagesMegaMenu" class="nav-link u-header__nav-link u-header__nav-link-toggle" href="javascript:;" aria-haspopup="true" aria-expanded="false">Pages</a>

                                                <!-- Home - Mega Menu -->
                                                <div class="hs-mega-menu w-100 u-header__sub-menu" aria-labelledby="pagesMegaMenu">
                                                    <div class="row u-header__mega-menu-wrapper">
                                                        <div class="col-md-3">
                                                            <span class="u-header__sub-menu-title">Home & pages statiques</span>
                                                            <ul class="u-header__sub-menu-nav-group">
                                                                <li><a href="/" class="nav-link u-header__sub-menu-nav-link">Home</a></li>
                                                                
                                                                <li><a href="/about" class="nav-link u-header__sub-menu-nav-link">A propos</a></li>
                                                                <li><a href="/contact" class="nav-link u-header__sub-menu-nav-link">Contact</a></li>
                                                                
                                                                <li><a href="/faq" class="nav-link u-header__sub-menu-nav-link">FAQ</a></li>
                                                                <!-- <li><a href="/store-directory" class="nav-link u-header__sub-menu-nav-link">Rayons Boutique</a></li>-->
                                                                <li><a href="/terms-and-conditions" class="nav-link u-header__sub-menu-nav-link">Terms et Conditions</a></li>
                                                                
                                                                
                                                            </ul>
                                                        </div>
                                                        <div class="col-md-3">
                                                        
                                                            <span class="u-header__sub-menu-title">Categories produits</span>
                                                            <ul class="u-header__sub-menu-nav-group">
                                                                <li><a href="/category" class="nav-link u-header__sub-menu-nav-link">Toutes les Categories</a></li>
                                                                <li><a href="/category-slug" class="nav-link u-header__sub-menu-nav-link">Découvertes</a></li>
                                                                <li><a class="nav-link u-header__sub-menu-nav-link" href="/category-slug?slug=laptop,desktop">Ordinateur Portable & Bureautique</a></li>
                                                                <li><a class="nav-link u-header__sub-menu-nav-link" href="/category-slug?slug=camera">Cameras de surveillance & Caméras Espion</a></li>
                                                                <li><a class="nav-link u-header__sub-menu-nav-link" href="/category-slug?slug=smartphones,smartphones-ref,tablettes">SmartPhones & Tablettes</a></li>
                                                                <li><a class="nav-link u-header__sub-menu-nav-link" href="/category-slug?slug=consoles-accesoires,consoles,games,setup-gaming">Jeux vidéo & Consoles</a></li>
                                                                <li><a class="nav-link u-header__sub-menu-nav-link" href="/category-slug?slug=smart-tv,speaker,audio">TV & Enceinte sonore</a></li>
                                                                
                                                            
                                                                <li><a class="nav-link u-header__sub-menu-nav-link" href="/category-slug?slug=imprimante,toner-encre,toner,encre,jet-encre">Imprimantes, Toner et Encre</a></li>
                                                                
                                                                <li><a class="nav-link u-header__sub-menu-nav-link" href="/category-slug?slug=scanner">Scanner</a></li>
                                                            </ul>
                                                        </div>
                                                        <div class="col-md-3">
                                                        
                                                            <span class="u-header__sub-menu-title">Nos Consomables</span>
                                                            <ul class="u-header__sub-menu-nav-group">
                                                            
                                                                <li><a class="nav-link u-header__sub-menu-nav-link" href="/category-slug?slug=accesoires">Accessoires</a></li>
                                                                <li><a class="nav-link u-header__sub-menu-nav-link" href="/category-slug?slug=chargeurs-pc,batterie">Chargeurs et battéries</a></li>
                                                                <li><a class="nav-link u-header__sub-menu-nav-link" href="/category-slug?slug=toner-encre,toner,encre"> Toner et Encre</a></li>
                                                                <li><a class="nav-link u-header__sub-menu-nav-link" href="/category-slug">Logiciels</a></li>
                                                                <li><a class="nav-link u-header__sub-menu-nav-link" href="/category-slug?slug=office,windows">Licences Office et windows</a></li>
                                                                <li><a class="nav-link u-header__sub-menu-nav-link" href="/category-slug?slug=pieces,memoire,disque,carte-m,processeur,alimentation,boitier-pc,refroidisseur,graphique,accesoires-pc">Pieces de machines</a></li>
                                                                <li><a class="nav-link u-header__sub-menu-nav-link" href="/category-slug?slug=usb,carte-memoire,adaptateur-wifi">Clés USB, Carte mémoire, clé wifi</a></li>
                                                                <li><a class="nav-link u-header__sub-menu-nav-link" href="/category-slug?slug=sac">Sacs, Sacoches</a></li>
                                                            </ul>
                                                        </div>
                                                        <div class="col-md-3">
                                                        
                                                            <span class="u-header__sub-menu-title">Boutiques Ecommerce</span>
                                                            <ul class="u-header__sub-menu-nav-group">
                                                                <li><a href="/shop" class="nav-link u-header__sub-menu-nav-link">Shop</a></li>
                                                                <li><a href="/cart" class="nav-link u-header__sub-menu-nav-link">Cart</a></li>
                                                                <li><a href="/my-account" class="nav-link u-header__sub-menu-nav-link">My Account</a></li>
                                                                <li><a class="nav-link u-header__sub-menu-nav-link" href="//wa.me/22893356041">Suivre les achats</a></li>
                                                                <li><a class="nav-link u-header__sub-menu-nav-link" href="/wishlist">Mes Favoris</a></li>
                                                                <li><a class="nav-link u-header__sub-menu-nav-link" href="/contact">Service clientel</a></li>
                                                                <!-- <li><a href="/category-slug" class="nav-link u-header__sub-menu-nav-link">Compare</a></li> -->
                                                            </ul>
                                                        </div>
                                                        <div class="col-md-3">
                                                            <span class="u-header__sub-menu-title">Logiciels et Services</span>
                                                            <ul class="u-header__sub-menu-nav-group mb-3">
                                                                <li><a class="nav-link u-header__sub-menu-nav-link" href="/category-slug">Logiciels</a></li>
                                                                <li><a class="nav-link u-header__sub-menu-nav-link" href="/category-slug">Nos services</a></li>
                                                            </ul>
                                                            
                                                        </div>
                                                        <div class="col-md-3">
                                                            <span class="u-header__sub-menu-title">Blog Pages</span>
                                                            <ul class="u-header__sub-menu-nav-group mb-3">
                                                                <li><a href="/blog" class="nav-link u-header__sub-menu-nav-link">Blog</a></li>
                                                            </ul>
                                                            
                                                        </div>
                                                    </div>
                                                </div>
                                                <!-- End Home - Mega Menu -->
                                            </li>
                                            <!-- End Pages -->

                                            <!-- Blog -->
                                            <li class="nav-item hs-has-sub-menu u-header__nav-item"
                                                data-event="hover"
                                                data-animation-in="slideInUp"
                                                data-animation-out="fadeOut">
                                                <a id="blogMegaMenu" class="nav-link u-header__nav-link u-header__nav-link-toggle" href="javascript:;" aria-haspopup="true" aria-expanded="false" aria-labelledby="blogSubMenu">Blog</a>

                                                <!-- Blog - Submenu -->
                                                <ul id="blogSubMenu" class="hs-sub-menu u-header__sub-menu" aria-labelledby="blogMegaMenu" style="min-width: 230px;">
                                                    <li><a class="nav-link u-header__sub-menu-nav-link" href="/blog">Blog actualités</a></li>
                                                    
                                                </ul>
                                                <!-- End Submenu -->
                                            </li>
                                            <!-- End Blog -->

                                            <!-- About us -->
                                            <li class="nav-item u-header__nav-item">
                                                <a class="nav-link u-header__nav-link" href="/about">A Propos</a>
                                            </li>
                                            <!-- End About us -->

                                            <!-- FAQs -->
                                            <li class="nav-item u-header__nav-item">
                                                <a class="nav-link u-header__nav-link" href="/faq">FAQs</a>
                                            </li>
                                            <!-- End FAQs -->

                                            <!-- Contact Us -->
                                            <li class="nav-item u-header__nav-item">
                                                <a class="nav-link u-header__nav-link" href="/contact">Contactez-nous</a>
                                            </li>
                                            <!-- End Contact Us -->
                                        </ul>
                                    </div>
                                    <!-- End Navigation -->
                                </nav>
                                <!-- End Nav -->
                            </div>
                            <!-- End Primary Menu -->
                            <!-- Customer Care -->
                            <div class="d-none d-xl-block col-md-auto">
                                <div class="d-flex">
                                    <i class="ec ec-support font-size-50 text-primary"></i>
                                    <div class="ml-2">
                                        <div class="phone">
                                            <strong>Support</strong> <a href="tel:90045876" class="text-gray-90">(+228) 900 458 76/ 933 560 41</a>
                                        </div>
                                        <div class="email">
                                            E-mail: <a href="mailto:newtechnologiestg@gmail.com?subject=Help Need" class="text-gray-90">newtechnologiestg@gmail.com</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- End Customer Care -->
                            <!-- Header Icons -->
                            <div class="d-xl-none col col-xl-auto text-right text-xl-left pl-0 pl-xl-3 position-static">
                                <div class="d-inline-flex">
                                    <ul class="d-flex list-unstyled mb-0 align-items-center">
                                        <!-- Search -->
                                        <li class="col d-xl-none px-2 px-sm-3 position-static">
                                            <!-- Icône qui déclenche la recherche -->
                                            <a id="searchClassicInvoker" class="font-size-22 text-gray-90 text-lh-1 btn-text-secondary" href="javascript:;" role="button"
                                                data-toggle="tooltip"
                                                data-placement="top"
                                                title="Rechercher"
                                                aria-controls="searchClassic"
                                                aria-haspopup="true"
                                                aria-expanded="false"
                                                data-unfold-target="#searchClassic"
                                                data-unfold-type="css-animation"
                                                data-unfold-duration="300"
                                                data-unfold-delay="300"
                                                data-unfold-hide-on-scroll="true"
                                                data-unfold-animation-in="slideInUp"
                                                data-unfold-animation-out="fadeOut">
                                                <span class="ec ec-search"></span>
                                            </a>

                                            <!-- Input de recherche mobile -->
                                            <div id="searchClassic" class="dropdown-menu dropdown-unfold dropdown-menu-right left-0 mx-2" aria-labelledby="searchClassicInvoker">
                                                <form class="js-focus-state input-group px-3 position-relative">
                                                    <input class="form-control" 
                                                        type="search" 
                                                        placeholder="Rechercher un produit..."
                                                        id="mobileSearchInput">
                                                    <div class="input-group-append">
                                                        <button class="btn btn-primary px-3" 
                                                                type="button" 
                                                                id="mobileSearchButton">
                                                            <i class="font-size-18 ec ec-search"></i>
                                                        </button>
                                                    </div>
                                                    <!-- Résultats de recherche mobile -->
                                                    <div id="mobile-search-results" class="list-group position-absolute w-100 shadow-sm" 
                                                        style="z-index: 1050; max-height: 400px; overflow-y: auto; top: 100%; left: 0; display: none;">
                                                    </div>
                                                </form>
                                            </div>
                                        </li>
                                        <!-- End Search -->
                                        <!-- <li class="col d-none d-xl-block"><a href="/category-slug" class="text-gray-90" data-toggle="tooltip" data-placement="top" title="Compare"><i class="font-size-22 ec ec-compare"></i></a></li> -->
                                        <li class="col d-none d-xl-block"><a href="/wishlist" class="text-gray-90" data-toggle="tooltip" data-placement="top" title="Favorites"><i class="font-size-22 ec ec-favorites"></i></a></li>
                                        <li class="col d-xl-none px-2 px-sm-3"><a href="/my-mobile-account" class="text-gray-90" data-toggle="tooltip" data-placement="top" title="My Account"><i class="font-size-22 ec ec-user"></i></a></li>
                                        <li class="col pr-xl-0 px-2 px-sm-3">
                                        <a href="/cart" class="text-gray-90 position-relative d-flex" data-toggle="tooltip" data-placement="top" title="Cart">
                                            <i class="font-size-22 ec ec-shopping-bag"></i>
                                            <!-- ✅ ID unique pour mobile -->
                                            <span id="cart-count-mobile" class="width-22 height-22 bg-dark position-absolute d-flex align-items-center justify-content-center rounded-circle left-12 top-8 font-weight-bold font-size-12 text-white">0</span>
                                            <span id="cart-total-mobile" class="d-none d-xl-block font-weight-bold font-size-16 text-gray-90 ml-3">0</span>
                                        </a>
                                    </li>
                                    </ul>
                                </div>
                            </div>
                            <!-- End Header Icons -->
                        </div>
                    </div>